
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:ital,wght@1,300;1,400;1,700;1,800&display=swap');

html {
  scroll-behavior: smooth;
}



*{
 

  margin: 0;
  padding: 0;
 font-family: 'Montserrat', sans-serif;
}

.container{
  
   height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
position: relative;

}

.background{
 
   height: 100vh;
  width: 100vw;
 
  background-image:url('https://media.istockphoto.com/photos/manhattan-bw-picture-id462797937?b=1&k=20&m=462797937&s=170667a&w=0&h=zOQvZQXiEjpYE51GiHEXwtFUJNxLhrMYO1ypiqrYUXI=');
   background-size: 100vw 100vh;
   opacity: 0.6;
   position: absolute;
 


}


h1{
  
  color: black;
  font-size: 4rem;
  text-align: center;
  font-weight: 800;
  letter-spacing: -.06em;
  margin: 0 0 16px;
      

}


span{
  overflow: hidden;
    display:inline-block;
    line-height: 1.1;
    padding: 0 12px;
     position: relative;
  
  
  }


  span::before{
    background: linear-gradient(90deg, var(--start-color), var(--end-color) );
    content: var(--content);
    position: absolute;
    inset: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animated 10s infinite;
    animation-delay: var(--delay);
    }

    @keyframes animated{
        0%, 25%, 100%{
          opacity: 1;
        }
      
        50% , 90%{
          opacity: 0;
        }
      }

button{
    display: flex;
     align-items: center;
    justify-content: center;
    padding:20px;
     font-size: 1rem;
     border: 1px solid black;
   }

.text-node{
    display: grid;
    align-content:space-between;
    height:auto;
  place-items:center;
}


button:hover {
    
    background-color: rgba(0,223,216,0.7);
    position: relative;
    

     
  }
  
  
  
  .material-symbols-outlined
  {
     transition: transform 0.3s linear;
  }
  
  .material-symbols-outlined:hover{
    
    transform: rotate(90deg);
      transition: transform 0.3s linear;
   
    
     
   }
  
  
  
  

  
  
  
  
  
  
  
  
  
  
  
  
  
   






